@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
main {
  margin: 80px 0px 4px 0px;
  font-family: Arial, sans-serif;
  background-image: url(/assets/img/fondos/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background-position 0.1s ease;
  text-align: center;
}

h1 {
  padding: 10px;
  font-family: "Quicksand", sans-serif !important;
  font-size: 1vw;
  color: #ffd600;
  text-shadow:
    4px 4px 0 #000;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.team {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1050px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #1e88e5;
  opacity: 0.95;
  padding: 5px 20px;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
  margin-bottom: -5px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding-right: 70px;
}

.nav-links li a {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.3vw;
  transition: color 0.3s;
}

.nav-links li a:hover {
  font-weight: bold;
}

.icon {
  width: 40px;
  height: 24px;
  vertical-align: middle;
}

.album-layout {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 120px;
  position: relative;
}

.album-layout {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 120px;
  position: relative;
}
@media (max-width: 1027px) {
  .album-layout {
    gap: 80px;
  }
}

@media (max-width: 857px) {
  .album-layout {
    gap: 20px;
  }
}

@media (max-width: 780px) {
  .album-layout {
    gap: 2px;
  }
}

.contenido-album {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contenedor-band-desc {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bandera {
  width: 300px;
  height: 450px;
  filter: grayscale(100%);
  transition: filter 0.5s;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

@media (max-width: 993px) {
  .bandera {
    width: 220px;
    height: 350px;
  }
}

@media (max-width: 900px) {
  .bandera {
    width: 180px;
    height: 280px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .bandera {
    width: 150px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .bandera {
    margin: 10px;
    width: 130px;
    height: 250px;
  }
}

@media (max-width: 360px) {
  .bandera {
    margin: 15px;
    width: 100px;
    height: 200px;
  }
}

.bandera.color {
  filter: grayscale(0%);
}

.descripcion {
  width: 210px;
  height: 320px;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 11.5px;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 1024px) {
  .descripcion {
    width: 180px;
    height: 280px;
    font-size: 10px;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .descripcion {
    width: 130px;
    height: 240px;
    font-size: 8px;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .descripcion {
    width: 110px;
    height: 300px;
    font-size: 7px;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .descripcion {
    width: 90px;
    height: 150px;
    font-size: 6px;
    padding: 4px;
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 15px 0;
  row-gap: 22px;
}

.card {
  width: 80px;
  height: 120px;
  border: 2px solid grey;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition:
    filter 0.4s,
    transform 0.3s,
    border-color 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.card.completa {
  filter: grayscale(0%);
  transform: scale(1.05);
  border-color: gold;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  filter: grayscale(100%);
  transition: filter 0.4s ease;
  display: block;
}

.card.completa img {
  filter: grayscale(0%);
}

.progress-container {
  width: 95%;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1060px) {
  .progress-container {
    width: 97%;
  }
}

@media (max-width: 1027px) {
  .progress-container {
    width: 96%;
  }
}

@media (max-width: 901px) {
  .progress-container {
    width: 98%;
  }
}

@media (max-width: 790px) {
  .progress-container {
    width: 99%;
  }
}

@media (max-width: 768px) {
  .progress-container {
    width: 79%;
  }
}

.progress-bar {
  height: 20px;
  width: 0%;
  background: #e53935;
  transition:
    width 0.4s ease,
    background 0.3s ease;
}

.progress-text {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
}

.titulo-seleccion {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.icono-bandera {
  width: 32px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.promo-final {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-image: url(/assets/img/fondos/pelotapremio.png);
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
}
.promo-final h4 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 2px;
  font-size: 38px;
  color: #fff;
  text-shadow:
    3px 3px 2px #636363,
    -3px 3px 2px #636363,
    -3px -3px 0 #636363,
    3px -3px 0 #636363;
  position: relative;
  z-index: 2;
}
.promo-final h3 {
  font-family: "Quicksand", sans-serif;
  margin-top: 20px;
  font-size: 42px;
  color: #fff;
  text-shadow:
    3px 3px 2px #636363,
    -3px 3px 2px #636363,
    -3px -3px 0 #636363,
    3px -3px 0 #636363;
  position: relative;
  z-index: 2;
}

.promo-final h2 {
  font-family: "Quicksand", sans-serif;
  margin-top: 50px;
  font-size: 60px;
  color: #fff;
  text-shadow:
    3px 3px 2px #636363,
    -3px 3px 2px #636363,
    -3px -3px 0 #636363,
    3px -3px 0 #636363;
  position: relative;
  z-index: 2;
}

.promo-final p {
  font-family: "Quicksand", sans-serif;
  margin-top: 260px;
  font-size: 24px;
  color: black;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

@media (max-width: 815px) {
  .promo-final h2 {
    font-size: 40px;
  }
  .promo-final h3 {
    font-size: 25px;
  }
  .promo-final h4 {
    font-size: 24px;
  }
  .promo-final p {
    font-size: 3vw;
  }
}

@media (max-width: 500px) {
  .promo-final p {
    font-size: 16px;
  }
}

.boton-viaje {
  position: absolute;
  margin-top: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.4);
  color: #fff;
  text-shadow: 3px 3px 2px black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  z-index: 1;
}

.boton-viaje:hover {
  background-color: transparent;
}

.oculto {
  display: none;
}

.svg-curvo {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 75%;
}

.svg-curvo path {
  fill: transparent;
  stroke: none;
}

.footer {
  margin: auto;
  background-color: #f5f5f5;
  padding: 40px 20px;
  font-family: "Quicksand", sans-serif;
  color: #333;
  text-align: center;
}

.footer-top h2 {
  font-size: 28px;
  color: #1e88e5;
  margin-bottom: 5px;
}

.footer-top p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #1e88e5;
}

.footer-column p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #1e88e5;
}

.social-icons img {
  width: 32px;
  height: 32px;
  margin: 5px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-column input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 6px;
}

.footer-column button {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.footer-column button:hover {
  background-color: #1565c0;
}

.footer-payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-payments img {
  height: 32px;
  object-fit: contain;
}

.titulo-pagos {
  font-size: 18px;
  color: #1e88e5;
  margin-bottom: 12px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.imagenes-tecnologias {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imagenes-tecnologias img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.imagenes-tecnologias img:hover {
  transform: scale(1.05);
}
@media (max-width: 1199px) and (min-width: 768px) {
  .album {
    flex-direction: column;
  }
  .team {
    width: 90%;
  }
}

h1 {
  font-size: 48px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

@media (max-width: 815px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1e88e5;
    padding: 1em;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 769px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }

  .album-layout {
    flex-direction: column;
    align-items: center;
  }

  .contenido-album {
    order: 1;
  }

  .contenedor-band-desc {
    margin: -76px;
    order: 2;
    transform: rotate(90deg);
  }

  .contenedor-band-desc .descripcion {
    margin: 2px;
    width: 124%;
    height: 120px;
    padding: 8px;
    transform: rotate(270deg);
  }

  @media (max-width: 480px) {
  .contenedor-band-desc .descripcion {
     width: 119%;
    height: 100px;
  }
}

@media (max-width: 360px) {
  .contenedor-band-desc .descripcion {
    width: 110%;
    height: 80px;
    font-size: 4.8px;
  }
}

  .progress-container {
    width: 100%;
  }
}
.card {
  width: 80px;
  height: 120px;
}

@media (max-width: 1024px) {
  .card {
    width: 70px;
    height: 105px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 60px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 50px;
    height: 75px;
  }
}

@media (max-width: 360px) {
  .card {
    width: 40px;
    height: 60px;
  }
}


.mensaje-oculto{
  width: 100%;
  height: 400px;
}
.boton-viaje{
  width: 80px;
  height: 80px;
  font-size: 20px;
}
