@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin-bottom: 0;
  margin-top: 0;
}

body,
button,
select option,
input {
  font-family: "Quicksand";
  font-weight: 700;
}

h1,
label,
button,
strong {
  color: #ffffff;
  text-shadow:
    -1.8px -1.8px 0 #000000,
    1.8px -1.8px 0 #000000,
    -1.8px 1.8px 0 #000000,
    1.8px 1.8px 0 #000000;
}

h2,
p {
  color: #ffd700;
  text-shadow:
    -1.8px -1.8px 0 #2c3e50,
    1.8px -1.8px 0 #2c3e50,
    -1.8px 1.8px 0 #2c3e50,
    1.8px 1.8px 0 #2c3e50;
}

input,
select,
button,
#fechaActual {
  border-radius: 6px;
}

input,
select,
#fechaActual {
  padding: 2px;
  margin: 0px 8px;
  background-color: #ffffff;
  border: 2px solid #2c3e50;
  color: #696666;
  text-align: left;
  font-size: 12px;
  width: 170px;
  height: 30px;
  margin-bottom: 5%;
  margin-top: 5%;
  box-sizing: border-box;
  font-weight: 700;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

@media (max-width: 360px) {
  button:hover,
  img:hover {
    transform: none;
  }
}
