main {
  background-image: url("../../assets/img/fondos/fondoEstadioDesktop.png");
  background-position: center;
  background-size: cover;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 1.5rem !important;
}

.sidebar-width .btn-outline-primary,
.sidebar-width > ul > li > .btn-outline-primary {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .btn-outline-primary:hover,
.sidebar-width > ul > li > .btn-outline-primary:hover {
  background-color: transparent;
  color: #0d6efd;
  font-weight: 700;
}

button img {
  width: 32px;
  height: 32px;
}

.card button {
  border: none !important;
}

button img:hover {
  transform: scale(1.2);
}

.sidebar-toggle-btn {
  display: none;
}

.flex-grow-1 p {
  font-size: 18px;
  font-weight: 500;
}

.card button:not(#btn-delete-account) {
  background-color: #f8f9fa;
}

@media (max-width: 360px) {
  #toggleSidebar {
    display: block;
    position: fixed;
    left: 10px;
    top: 90px;
    background: #0d6efd;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;
  }

  .sidebar-width {
    position: fixed;
    top: 80px;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    overflow-y: auto;
    z-index: 2;
  }

  .flex-grow-1 h2,
  .flex-grow-1 p {
    text-align: center;
  }

  .sidebar-width {
    transform: translateX(-250px);
    transition: transform 0.3s ease;
  }

  .sidebar-width.sidebar-open {
    transform: translateX(0);
  }

  main {
    background-image: url("../../assets/img/fondos/fondoEstadioMobile.png");
    background-repeat: repeat;
  }

  .flex-grow-1 {
    margin-top: 20%;
  }

  .block {
    display: block !important;
  }

  .block input,
  .block select {
    margin-bottom: 2%;
  }

  #btn-update-dob {
    margin-top: 12%;
  }
}
