body {
  background-image: url("../img/fondoEstadioDesktop.png");
  background-position: center;
  background-size: cover;
}

.perfil_usuario {
  text-align: center;
}

.form_usuario,
.form_group {
  display: flex;
}

.btn_interactivos {
  display: block;
  position: absolute;
  bottom: 65%;
  left: 61%;
}

.perfil_usuario {
  position: relative;
}

.form_usuario,
.form_group,
.btn_interactivos {
  align-items: center;
  justify-content: center;
}

.perfil_usuario button,
.btn_interactivos div button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.form_usuario button:hover img,
.btn_interactivos button:hover img,
.camara_icon:hover {
  transform: scale(1.2);
}

.form_usuario div {
  margin: 0 5px;
}

.form_usuario {
  margin: 0px 10px;
}

.btn_interactivos div {
  margin: 7px 7%;
}

.bienvenida {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
}

#usernameDisplay {
  font-size: 1.5rem;
}

.bienvenida div img {
  height: 9rem;
}

.camara_icon {
  position: absolute;
  bottom: 20%;
  right: 44%;
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.foto_perfil_wrapper {
  position: relative;
}

.bienvenida img,
.btn_interactivos div button,
.btn_interactivos div button img,
.form_usuario button img {
  height: 100%;
}

input,
select,
#fechaActual {
  width: 250px;
}

.form_usuario div {
  align-items: baseline;
}

@media (max-width: 360px) {
  body {
    background-image: url("../img/fondoEstadioMobile.png");
  }

  .form_usuario,
  .form_group {
    display: block;
    text-align: left;
  }

  section {
    margin-top: 25%;
  }

  .camara_icon {
    bottom: 34%;
    right: 34%;
  }

  .btn_interactivos {
    display: flex;
    position: relative;
    bottom: 0%;
    left: 0%;
  }
}
