@font-face {
  font-family: "Quicksand";
  src: url("fonts/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("fonts/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("fonts/static/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("fonts/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url("../img/fondoPrincipal.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}

.perfil_usuario,
.form_usuario input {
  text-align: center;
}

.form_usuario,
.form-group {
  display: flex;
}

.btn_interactivos {
  display: block;
  position: absolute;
  top: 0%;
  left: 70%;
}

.perfil_usuario {
  position: relative;
}

.form_usuario,
.form-group,
.btn_interactivos {
  align-items: center;
  justify-content: space-around;
}

.perfil_usuario button,
.btn_interactivos div button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.form_usuario input,
.form_usuario select {
  border-radius: 6px;
  text-align: left;
  border: 0.5px solid #000000;
}

.form_usuario button:hover img,
.btn_interactivos button:hover img,
.camara_icon:hover {
  transform: scale(1.2);
}

.form_usuario select {
  color: #999;
}

.form_usuario div {
  margin: 0.6875rem 5%;
}

.btn_interactivos div {
  margin: 0.6875rem 7%;
}

.bienvenida p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.perfil_usuario > p {
  font-size: 1.2rem;
}

.form_usuario input,
.form_usuario select,
.form_usuario button {
  height: 1.5rem;
  padding: 0 1rem;
}

#usernameDisplay {
  font-size: 1.5rem;
}

.bienvenida div {
  height: 6rem;
}

.camara_icon {
  position: absolute;
  bottom: 64%;
  right: 47%;
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.foto_perfil_wrapper {
  position: relative;
}

.bienvenida img,
.btn_interactivos div button,
.btn_interactivos div button img,
.form_usuario button img {
  height: 100%;
}

.form_usuario input {
  width: 200px;
}

.form_usuario select {
  width: 200px;
}

@media (max-width: 360px) {
  .form_usuario,
  .btn_interactivos {
    align-items: center;
    justify-content: flex-end;
  }

  .form_usuario input {
    width: 130px;
  }

  .form_usuario select {
    width: 130px;
  }

  .camara_icon {
    bottom: 25%;
    right: 39%;
  }

  .form-group {
    display: block;
  }

  .btn_interactivos {
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
  }
}
